.course{
    position: relative;
}

.courses-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



.leftNav{
    background-color: #03B97C;
    position: sticky;
    top: 10vh;
    height: 90vh;
}

.courseLinks{
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #03B97C;
    color: #03B97C;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: 1s;
}
.courseLinks:hover{
    display: block;
    padding: 5px 10px;
    margin: 15px;
    background-color: #03B97C;
    border: 2px solid white;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: 1s;
}
.courseCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 10px;
}


@media only screen and (min-width: 665px) {
    .courses-card-section{
        grid-column: 2 / 5;
    }
}


@media only screen and (max-width:1024px) {
    .courseCard{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 665px) {
    .leftNav{
        background-color: #03B97C;
        position: static;
        height: fit-content;

    }

    .courses-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    

    .courseCard{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}