.registerbox{
    padding: 50px 0px;
    background-color: rgba(123, 220, 181, 0.2);
}


.authentication{
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 10px rgb(123, 220, 181);
    border-radius: 14px;
    margin-bottom: 50px;
}

.authentication h1{
    color: #03B97C;
}

.authentication input{
    background-color: white;
    padding: 10px;
    border: 2px solid #03B97C;
    color: #000000;
    outline: none;
}
.authentication label{
    color: #03B97C; 
    font-weight: bold;
}
.authentication input:focus{
    background-color: white;
    border: 2px solid #03B97C;
    color: #000000;
    outline: none;
    box-shadow: none;
}
.error-massage{
    color: red;
    font-weight: bold;
    margin: 0px;
}
.submit-button{
    display: block;
    width: 100%;
    padding: 10px 0px;
    background-color: #03B97C;
    border: 2px solid #03B97C;
    color: white;
    border-radius: 5px;
    font-weight: bold;
} 
.submit-button:hover{
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #03B97C;
} 
.submit-button:disabled{
    background-color: rgba(3, 185, 124, 0.5);
    border: 2px solid rgba(3, 185, 124, 0.5);;
    color: rgba(255, 255, 255, 0.555);
} 

.warnText{
    color: #000000;
    font-weight: bold;
}
.warnLink:hover{
    color: #03B97C;
}
.warnLink{
    color: #03B97C;
    text-decoration: none;
    font-weight: bolder;
    
}

.othersAccount h4{
    color: #03B97C;
    font-weight: bold;
    margin-bottom: 10px;
}
.othersAccount button{
    background-color: #ffffff;
    color: #03B97C;
    border: 2px solid #03B97C;
    border-radius: 5px;
    transition: 1s;
}

.othersAccount button:hover{
    background-color: #03B97C;
    color: #ffffff;
    border: 2px solid #03B97C;
    border-radius: 5px;
    transition: 1s;
}



@media only screen and (max-width: 991px) {
    .authentication{
        width: 70%;
    }
}
@media only screen and (max-width: 590px) {
    .authentication{
        width: 90%;
    }
}